
div,
html,
body {
    height: 100%;    /* Define la altura de la pantalla completa */
    margin: 0;    /* Elimina márgenes por defecto */
    background-color: rgb(72, 149, 236);
}

.container-message {
    height: 90%;
    display: flex;
    flex-direction: column;     /* Alinea los mensajes verticalmente */
    gap: 10px;    /* Espacio entre los mensajes */
    max-width: 60%;     /* Ancho máximo del chat */
    margin: auto;    /* Centra el chat en la página */
    padding: 10px;    /* Espaciado interno */
}

.title-conversation {
    font-size: 15px;
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #ff5733;
}

.message-conversation {
    font-size: 20px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}